@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat:100i,400,700&display=swap');
/*Imported the following fonts 
font-family: 'Bungee Shade', cursive;
font-family: 'Montserrat', sans-serif;
*/
body {
    overflow:visible!important;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0,255,255)!important;
}
/* CSS of Navbar */
.navbar {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
/*.nav-link{
color: black!important;
}

.nav-item{
    padding-right: 10px;
}
*/
.nav-link {
    color: rgb(0, 204, 204)!important;
}
ul.navbar-nav a:hover { 
    color: rgb(204, 102, 0)!important; 
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    background-color:rgba(204, 102, 0, 0.4)!important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,204,204)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  
.navbar-toggler {
    border: 2px solid !important;
    border-color: rgba(0,204,204,0.5)!important;
  } 
#resumebutton {
   border-color: rgb(0,204,204); 
   color: rgb(0,204,204);
}
/* end of nav bar */

/* start of landing page */
.home-inner {
    background-image:url(resources/background.jpg);
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
}/*
#firstHeading, #secondHeading {
    font-weight: bold!important; 
    font-size: 70px!important; 
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    position: relative;
    top: 30%;
}
#intro {
    font-size: 25px; 
    text-shadow: 0.1rem 0.1rem black!important;
}
#summary {
    text-shadow: 0.1rem 0.1rem  black!important;
    padding: 20px;
} */
#links {
    top: 65%;
    position: absolute;
}
#learnmorebutton:hover, 
#learnmorebutton:active, 
#learnmorebutton:focus {
    background-color:rgba(204, 102, 0, 0.6)!important ;
    color:rgb(0, 204, 204)!important ;
}
/* end of landing page */
@media (max-width: 768px) {
    .caption {
        top: 30%;
        font-size: 20px;
    }
    #summary {
        font-size: 18px;
    }
    #about {
        font-size: 15px;
    }
    .col2 {
        min-height: 33.33%;
        height: 33.33%;
        margin-top: unset;
        padding-right: unset;
    }
    #learnmorebutton {
        width: 50%!important;
        position: unset;
        right: unset;  
        left: 23%!important;
        top: 50px;
    }
    .paragraph {
        text-shadow: 0.1rem 0.1rem 0.8rem black!important;
        padding-bottom: 10px;
        margin-top: 0%;
        font-size: 15px!important;
    }
    .list {
      margin-top: 100%;
    }
}
#col1, #col2, #col3 {
    border: 2px solid black!important;
    height: 100vh;
}
#container1 {
    border: 2px solid red;
    height: 100vh;
}
.row {
    border: 2px dotted purple;
}
#about {
    color: black;
    text-shadow: 0.1rem 0.1rem 0.8 black!important;
    color: rgb(0,255,255);
    margin-top: 100px;
}
#headaboutme{
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    font-size: 50px!important;
}
.paragraph {
    margin-top: 15%;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 17px;
}
#myimage {
    margin-top: 47%;
    padding-right: 70px;
}
.orangelink {
    color:rgb(204, 102, 0);
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
}
#con2 {
    border: 2px solid red;
    height: 100vh;
    padding: unset;
    width: 100%;
}
/* typewriter effect imported */
.typewrite {
    font-weight: bold!important; 
    font-size: 70px!important; 
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    position: relative;
    color: rgb(0,204,204);
}
/*button effect imported */
.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    background: transparent;
    color: #e55743;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: -webkit-transform .8s ease;
    transition: transform .8s ease;
    transition: transform .8s ease, -webkit-transform .8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
#learnmorebutton {
    width: 250px!important;
    text-align: center;
    position: absolute;
    right: 41%;
}
/* end of button effect */

/* image hover effect */
#part1col2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagebox {
    position: relative;
    width: 335px;
    height: 387px;
    border: 2px solid black;
    overflow: hidden; 
}
.imagebox img {
    height: 100%;
    width: 100%;
}
.imagebox::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -150%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    transform: skew(-40deg);
    transition: all 0.5s;
}
.imagebox:hover::before {
    left: -50%;
    width: 200%;
}
.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.imagebox:hover .content {
    opacity: 1;
}
.content ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    margin-right: 10%;
}
.content ul li {
    text-align: center;
    margin: 5px 10px;
}
.content ul li a {
    text-decoration: none;
}
.fab {
    font-size:50px; 
    color: black;
}
#fb, #insta, #lin, #gh {
    font-size: 50px; 
    color: black;
    height: 80px;
    width: 80px;
    background-color: rgb(0,255,255);
    border-radius: 25%;
    text-align: center;
    transform: translateY(300px);
    transition: all 2s;
}
.imagebox:hover .content #fb {
    transform: translateY(0px);
    transition: all 0.5s 0.5s;
}
.imagebox:hover .content #insta {
    transform: translateY(0px);
    transition: all 0.5s 0.6s;
}
.imagebox:hover .content #lin {
    transform: translateY(0px);
    transition: all 0.5s 0.7s;
}
.imagebox:hover .content #gh {
    transform: translateY(0px);
    transition: all 0.5s 0.8s;
}
/* end of image hover effect */

/*start of list for job experience */
#row2col1 {
  border: 2px solid white;
  height: 100vh;
}
.list h2{
  font-size: 27px;
  margin-top: 60%;
  color: white;
  background-color: rgb(0,204,204);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5%;
  margin-bottom: 0%;
}
.list{
  width: 100%;
  border-bottom: 20px solid rgb(0,204,204);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.list ul {
  list-style-type: none;
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
}
.list ul li {
  margin-left: -13.5%;
  padding: 5%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  color: rgb(0,204,204);
  transition: transform 0.5s;
  font-size: 20px;
}
.list ul span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background:rgb(0,204,204);
  color: white;
  display:inline-block;
  border-radius: 50%;
  margin-right: 3%;
  font-size: 12px;
  font-weight: 600;
  margin-left: 3%;
}
.list ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: rgb(0,204,204);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  color: white ;
  opacity: 1.0!important;
}
.list ul li:hover span {
  background: white;
  color:rgb(0,204,255);
}
.list ul:hover li {
  opacity: 0.2;
}
/* job experience box start */
#box {
  width: 70%;
  height: 40%;
  margin-top:27%;
  margin-left: 15%;
  color: black;
  justify-content: center;
  text-align:left;
  color: rgb(0,255,255);
  font-weight: bold;
}
/*end of job experience box */
.row3 {
    height: 172vh;
    border: 2px solid white;
}
.row3col1 {
    border: 2px dotted purple;
    height: 33vh;
    margin-top: 6%;
    margin-left: 5%;
}
.row3col2 {
    border: 2px dotted orange;
    height: 33vh;
    margin-top: 20%;
    margin-left: 5%;
}
.row3col3 {
    border: 2px dotted pink;
    height: 33vh;
    margin-left: 5%;
    margin-top: 1.5%;
}
#headerofpastprojects {
    margin-top: 10%;
    margin-left: 10%;
}
.row3col4 {
    margin-left: 53%;
    height: 33vh;
    border: 2px double black;

}
.row3col5 { 
    margin-left: 5%;
    height: 33vh;
    border: 2px double yellow;
}
#inkscapelogo {
    margin-left: 0%;
    margin-top: -15%;
}
#mcgilllogo {
    margin-left: 37%;
}
.row3col1:hover, .row3col2:hover, .row3col3:hover, .row3col4:hover, .row3col5:hover {
    transform: scale(1.1);
}
.con3 {
    border: 2px solid blue;
}
/*animated border */
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
    font-size: 15px;
  }
  
  .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
  }
  
  .box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
  }
  
  .box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #f0a591;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  }
  
  .box span {
    position: absolute;
    top: 0;
    left: -50%;
    width: 150%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  }
  
  .box span:nth-child(1) {
    transform: rotate(0deg);
  }
  
  .box span:nth-child(2) {
    transform: rotate(90deg);
  }
  
  .box span:nth-child(3) {
    transform: rotate(180deg);
  }
  
  .box span:nth-child(4) {
    transform: rotate(270deg);
  }
  
  .box span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
      transform-origin: left;
    }
    50.1% {
      transform: scaleX(1);
      transform-origin: right;
    }
  
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
  #githublink {
        position:absolute;
        top:37% ;
        left:13% ;
        z-index:1;
        display:block;
        color: rgb(204, 102, 0)!important; 
    }
    .box h2 {
        color: rgb(0,204,204);
    }
/*end of animated border */