@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Montserrat:100i,400,700&display=swap');
/*Imported the following fonts 
font-family: 'Bungee Shade', cursive;
font-family: 'Montserrat', sans-serif;
*/
body {
    overflow:visible!important;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0,255,255)!important;
}
/* CSS of Navbar */
.navbar {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: rgba(0, 0, 0, 0.7)!important;
}
/*.nav-link{
color: black!important;
}

.nav-item{
    padding-right: 10px;
}
*/
.nav-link {
    color: rgb(0, 204, 204)!important;
}
ul.navbar-nav a:hover { 
    color: rgb(204, 102, 0)!important; 
}
.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    background-color:rgba(204, 102, 0, 0.4)!important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,204,204)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  
.navbar-toggler {
    border: 2px solid !important;
    border-color: rgba(0,204,204,0.5)!important;
  } 
#resumebutton {
   border-color: rgb(0,204,204); 
   color: rgb(0,204,204);
}
/* end of nav bar */

/* start of landing page */
.home-inner {
    background-image:url(resources/background.jpg);
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
}/*
#firstHeading, #secondHeading {
    font-weight: bold!important; 
    font-size: 70px!important; 
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    position: relative;
    top: 30%;
}
#intro {
    font-size: 25px; 
    text-shadow: 0.1rem 0.1rem black!important;
}
#summary {
    text-shadow: 0.1rem 0.1rem  black!important;
    padding: 20px;
} */
#links {
    top: 65%;
    position: absolute;
}
#learnmorebutton:hover, 
#learnmorebutton:active, 
#learnmorebutton:focus {
    background-color:rgba(204, 102, 0, 0.6)!important ;
    color:rgb(0, 204, 204)!important ;
}
/* end of landing page */
@media (max-width: 768px) {
    .caption {
        top: 20%;
        font-size: 20px;
    }
    #summary {
        font-size: 18px;
    }
    #learnmorebutton {
        margin-top: 12%;
        padding-top: 8px;
    }
    #about {
        font-size: 15px;
    }
    #myimage {
        padding: 50px;
    }
}
#col1, #col2 {
    border: 2px solid black!important;
    height: 100vh;
}
#container1 {
    border: 2px solid red;
    height: 100vh;
    background-color:rgba(204,229,255,0.2);
}
.row {
    border: 2px dotted purple;
}
#about {
    color: black;
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    color: rgb(0,255,255);
}
.headaboutme{
    text-shadow: 0.1rem 0.1rem 0rem black!important;
    border-bottom: 2px solid black;
        padding-bottom: 30px;
}
.paragraph {
    margin-top: 15%;
    padding-left: 100px;
    padding-right: 40px;
    font-size: 17px;
}
#myimage {
    margin-top: 17%;
    padding-right: 70px;
}
#universitylink {
    color:rgb(204, 102, 0);
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
}
#con2 {
    border: 2px solid red;
    height: 100vh;
    padding: unset;
    width: 100%;

}
#row2col1 {
    border: 2px solid white;
    height: 100vh;
}
.typewrite {
    font-weight: bold!important; 
    font-size: 70px!important; 
    text-shadow: 0.1rem 0.1rem 0.8rem black!important;
    position: relative;
    color: rgb(0,204,204);
}